#title {
  font-size: 300%;
  margin-bottom: 50px;
  margin-top: 40px;
}

.box {
  height: 20vh;
  min-height: 150px;
  background-color: #212121;
  margin-bottom: 30px;
  padding: 5px;
  font-size: 150%;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/*settings*/
.box.menu {
  background-color: #383838;
  border: 5px outset #5b5b5b;
}
.box.menu.active {
  border: 5px inset #5b5b5b;
}
.box.menu.active .text{
  opacity: 0.7;
}

.box.menu.settings div {
  width: 100%
}
.box.menu.settings img {
  width: 15%;
}

.box.menu.language div {
  width: 100%
}
.box.menu.language img {
  width: 20%;
}

.box.menu.audio div {
  width: 100%
}
.box.menu.audio img {
  width: 20%;
}

.box.menu.account.inactive {
  border: 5px solid #5b5b5b;
}
.box.menu.account .item {
   margin-bottom: 20px;
 }
.box.menu.account div {
  width: 100%
}
.box.menu.account img {
  width: 30%
}

.box.menu.privacy {
  color: white;
}
a {
  text-decoration: none;
}

.box.menu.tutorial div {
  width: 100%
}
.box.menu.tutorial img {
  width: 20%
}

/*ranking*/
.box.menu.ranking div {
  width: 100%
}
.box.menu.ranking img {
  width: 20%
}

.box.ranking.personal{
  background-color: #383838;
  border: 5px solid #5b5b5b;
}
.box.ranking.personal .title{
  margin-bottom: 10px;
  font-weight: bold;
}
.box.ranking.personal .item .medal {
  vertical-align: middle;
}
.box.ranking.personal .item .medal img {
  width: 20%;
}

.box.ranking.top.title {
  font-weight: bold;
}
.box.ranking.top .item.name {
  margin-bottom: 10px;
}
.box.ranking.top .rank{
  margin-bottom: 10px;
  font-weight: bold;
}
.box.ranking.top .cup img{
  width: 40%;
}

/*tutorial*/
.arrow {
  font-size: 170%;
}
.box.text {
  border: 3px solid #5b5b5b;
}

/*level*/
.box.symbol {
  font-size: 400%;
  background-blend-mode: soft-light;
  background-image: url("../assets/background/symbol.png");
  background-size: auto 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.box.symbol .rotate45 {
  transform: rotate(45deg);
}
.box.symbol .rotate90 {
  transform: rotate(90deg);
}
.box.symbol .rotate135 {
  transform: rotate(135deg);
}
.box.symbol .rotate180 {
  transform: rotate(180deg);
}
.box.symbol .rotate225 {
  transform: rotate(225deg);
}
.box.symbol .rotate270 {
  transform: rotate(270deg);
}
.box.symbol .rotate315 {
  transform: rotate(315deg);
}

.box.symbol.model {
  background-color: goldenrod;
  border: 5px solid #ffbf24;
  background-blend-mode: soft-light;
  background-image: url("../assets/background/model.png");
  /*background-size: auto 160%;*/
  background-size: auto 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.box.symbol.inactive {
  border: 5px solid #5b5b5b;
}

.box.symbol.empty {
  background-color: #212121;
  background-image: none;
  border: 3px solid #5b5b5b;
}

.box.symbol.red {
  background-color: darkred;
  border: 5px outset #a80000;
}
.box.symbol.red.inactive {
  border: 5px solid #a80000;
}
.box.symbol.green {
  background-color: darkgreen;
  border: 5px outset #008d00;
}
.box.symbol.green.inactive {
  border: 5px solid #008d00;
}
.box.symbol.blue {
  background-color: #2b2b98;
  border: 5px outset #404094;
 }
.box.symbol.blue.inactive {
  border: 5px solid #404094;
}
.box.symbol.purple {
  background-color: rebeccapurple;
  border: 5px outset #763eb2;
}
.box.symbol.purple.inactive {
  border: 5px solid #763eb2;
}
.box.symbol.orange {
  background-color: #d03700;
  border: 5px outset #de5d2a;
}
.box.symbol.orange.inactive {
  border: 5px solid #de5d2a;
}
.box.symbol.cyan {
  background-color: darkcyan;
  border: 5px outset #00b4b4;
}
.box.symbol.cyan.inactive {
  border: 5px solid #00b4b4;
}

.box.level {
  flex-direction: column;
  background-color: goldenrod;
  border: 5px outset #ffbf24;
}

.box.level.inactive {
  background-color: #9d740a;
  border: 5px solid #6e5207;
  opacity: 0.7;
}
.box.level.complete {
  background-color: goldenrod;
  border: 5px solid #ffbf24;
}
.box.level.complete div {
  width: 100%
}
.box.level.complete img {
  width: 15%;
  margin-bottom: 5px;
}

.box.level.start {
  font-weight: bold;
}
.box.level.start div {
  width: 100%
}
.box.level.start img {
  width: 20%
}

.box.level.timer {
  font-weight: bold;
}
.box.level.img {
  width: 20px;
  margin-bottom: 5px;
}

.box.level .goal {
  font-size: 150%;
  margin-bottom: 3px;
}
.box.level .add {
  font-size: 150%;
}

.box.level .record {
  color: #5e9d47;
  margin-bottom: 3px;
  font-weight: bold;
}
.box.level.share {
  background-color: #383838;
  border: 5px solid #5b5b5b;
}
.box.level.share .share {
  margin-bottom: 15px;
}

