<div
  id="infinite-scroll"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()">

  <div id="title">{{title}}</div>

  <div [ngClass]="{'active':showSettings}" class="box menu settings" (click)="settingsToggleClick()">
    <div class="text">
      <div><img src="../assets/menu/settings.png" alt="Settings"></div>
      <div>{{ 'SETTINGS' | translate }}</div>
    </div>
  </div>

  <ng-container *ngIf="showSettings">
    <div class="box menu language" (click)="languageClick()">
      <div *ngIf="language == 'en'">
        <div><img src="../assets/menu/english.png" alt="English"></div>
        <div>English</div>
      </div>
      <div *ngIf="language == 'fr'">
        <div><img src="../assets/menu/french.png" alt="French"></div>
        <div>Français</div>
      </div>
    </div>

    <div [ngClass]="{'active':music}" class="box menu audio" (click)="musicToggleClick()">
      <div>
        <div *ngIf="!music" class="text">
          <div><img src="../assets/menu/music-off.png" alt="Music Off"></div>
        </div>
        <div *ngIf="music" class="text">
          <div><img src="../assets/menu/music.png" alt="Music On"></div>
        </div>
        <div>{{ 'MUSIC' | translate }}</div>
      </div>
    </div>
    <div [ngClass]="{'active':sound}" class="box menu audio" (click)="soundToggleClick()">
      <div>
        <div *ngIf="!sound" class="text">
          <div><img src="../assets/menu/sound-off.png" alt="Sound Off"></div>
        </div>
        <div *ngIf="sound" class="text">
          <div><img src="../assets/menu/sound.png" alt="Sound On"></div>
        </div>
        <div>{{ 'SOUND' | translate }}</div>
      </div>
    </div>

    <div *ngIf="displayName == null" class="box menu account" (click)="googleAuthClick(false)">
      <div>
        <div class="item">{{ 'ACCOUNT.CONNECT' | translate }}</div>
        <div><img src="../assets/menu/google.png" alt="Google"></div>
      </div>
    </div>

    <div *ngIf="displayName != null" class="box menu account inactive">
      <div>
        <div class="item">{{ 'ACCOUNT.CONNECTED' | translate }}</div>
        <div>{{displayName}}</div>
      </div>
    </div>

    <a href="./static/privacy.html" target="_blank">
      <div class="box menu privacy">
        <div class="item">{{ 'PRIVACY' | translate }}</div>
      </div>
    </a>
  </ng-container>

  <!-- leaderboard -->
  <div [ngClass]="{'active':showLeader}" class="box menu leader" (click)="leaderToggleClick()">
    <div class="text">
      <div class="cup">🏆</div>
      <div>{{ 'LEADER.MENU' | translate }}</div>
    </div>
  </div>

  <ng-container *ngIf="showLeader">
    <div class="box leader personal">
      <div>
        <div class="title">{{ 'LEADER.PERSONAL' | translate }}</div>
        <div class="item">{{ 'GAME.LEVEL' | translate }} {{getBestLevel()}}</div>
        <div class="item">{{getBestPoints()}} {{ 'GAME.POINTS' | translate }}</div>
        <div class="item">{{ 'LEADER.RANK' | translate }} -</div>
      </div>
    </div>

    <div class="box text leader top">
      Top 10
    </div>
    <div class="box text leader top">
      <div>
        <div class="rank">1</div>
        <div class="item">Basile</div>
        <div class="item">{{ 'GAME.LEVEL' | translate }} 2</div>
        <div class="item">2530 {{ 'GAME.POINTS' | translate }}</div>
      </div>
    </div>
  </ng-container>

  <!--  tutorial -->
  <div [ngClass]="{'active':showTutorial}" class="box menu tutorial" (click)="tutorialToggleClick()">
    <div class="text">
      <div><img src="../assets/menu/tutorial.png" alt="Tutorial"></div>
      <div>{{ 'TUTORIAL.MENU' | translate }}</div>
    </div>
  </div>

  <ng-container *ngIf="showTutorial">
    <div class="box text">
      <div>
        {{ 'TUTORIAL.INSTRUCTION_1' | translate }}<br>
        <span class="arrow">↓</span>
      </div>
    </div>

    <div class="box symbol model">
      {{ symbols[tutorialModel] }}
    </div>

    <div class="box text">
      {{ 'TUTORIAL.INSTRUCTION_2' | translate }}
    </div>

    <div class="box text">
      <div>
        {{ 'TUTORIAL.INSTRUCTION_3' | translate }}<br>
        <span class="arrow">↓</span>
      </div>
    </div>

    <div [ngClass]="{'inactive':tutorialComplete,
                     'red' : box.color==getColorPosition('red'),
                     'green' : box.color==getColorPosition('green'),
                     'blue' : box.color==getColorPosition('blue'),
                     'purple' : box.color==getColorPosition('purple'),
                     'orange' : box.color==getColorPosition('orange'),
                     'cyan' : box.color==getColorPosition('cyan')}"
         class="box symbol"
         *ngFor="let box of tutorials"
         (click)="tutorialBoxClick(box)">
      {{ symbols[box.symbol] }}
    </div>

    <div class="box text">
      {{ 'TUTORIAL.INSTRUCTION_4' | translate }}
    </div>

    <div class="box text">
      <div>
        {{ 'TUTORIAL.INSTRUCTION_5' | translate }}<br>
        <span class="arrow">↓</span>
      </div>
    </div>

    <ng-container [ngSwitch]="!tutorialComplete ? 1 : 2">
      <ng-container *ngSwitchCase="1">
        <div [ngClass]="isTutorialComplete() ? '' : 'inactive'"
             class="box level"
             (click)="tutorialEndClick()">
          {{ 'TUTORIAL.END' | translate }}
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="2">
        <div class="box level complete">
          {{ 'TUTORIAL.CONGRATS' | translate }}<br>
          {{ 'TUTORIAL.CONTINUE' | translate }}
        </div>
      </ng-container>
    </ng-container>

  </ng-container>

  <!-- levels -->
  <div id="start"></div>
  <ng-container [ngSwitch]="currentLevel == 0 ? 1 : 2">
    <ng-container *ngSwitchCase="1">
      <div [ngClass]="tutorialComplete ? '' : 'inactive'"
           class="box level start"
           (click)="startGameClick()">
        <div><img src="../assets/menu/start.png" alt="Start"></div>
        <div>{{ 'GAME.START' | translate }}</div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="2">
      <div class="box level complete">
        <div class="goal">{{ 'GAME.LEVEL' | translate }} 1</div>
      </div>
    </ng-container>
  </ng-container>

  <div *ngFor="let level of levels">


    <div [ngClass]="{'empty': level.num > currentLevel}"
         class="box symbol model">
      <span *ngIf="level.num <= currentLevel">{{ symbols[level.model] }}</span>
    </div>

    <div [ngClass]="{'empty': box.symbol<0,
                     'inactive':level.num < currentLevel || gameOver,
                     'red' : box.color==getColorPosition('red'),
                     'green' : box.color==getColorPosition('green'),
                     'blue' : box.color==getColorPosition('blue'),
                     'purple' : box.color==getColorPosition('purple'),
                     'orange' : box.color==getColorPosition('orange'),
                     'cyan' : box.color==getColorPosition('cyan')}"
         class="box symbol"
         *ngFor="let box of level.boxes"
         (click)="boxClick(level, box)">
      <div [ngClass]="{'rotate45': box.rotate > 0.1 && box.rotate < 0.2,
                       'rotate90': box.rotate > 0.2 && box.rotate < 0.3,
                       'rotate135': box.rotate > 0.3 && box.rotate < 0.4,
                       'rotate180': box.rotate > 0.4 && box.rotate < 0.5,
                       'rotate225': box.rotate > 0.5 && box.rotate < 0.6,
                       'rotate270': box.rotate > 0.6 && box.rotate < 0.7,
                       'rotate315': box.rotate > 0.7 && box.rotate < 0.8}">
        {{ symbols[box.symbol] }}
      </div>
    </div>

    <ng-container *ngIf="level.num <= currentLevel"
                  [ngSwitch]="level.completed ? 1 : gameOver ? 2 : 3">

      <ng-container *ngSwitchCase="1">
        <div class="box level complete">
          <div class="goal">{{ 'GAME.LEVEL' | translate }} {{level.num + 1}}</div>
          <div *ngIf="getLevel(level.num + 1).symbol > 0">{{ 'GAME.NEW_SYMBOL' | translate }}: <span
            class="add">{{symbols[getLevel(level.num + 1).symbol]}}</span></div>
          <div *ngIf="level.num + 1 == levelForRotation">{{ 'GAME.POS_SYMBOL' | translate }}</div>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="2">
        <div class="box level complete">
          <div *ngIf="getPoints() <= previousRecord"><img src="../assets/menu/skull-red.png" alt="Game Over"></div>
          <div *ngIf="getPoints() > previousRecord"><img src="../assets/menu/skull-green.png" alt="Game Over"></div>
          <div class="record" *ngIf="getPoints() > previousRecord">{{ 'LEADER.NEW' | translate }}</div>
          <div>{{ 'GAME.LEVEL' | translate }} {{level.num}}</div>
          <div>{{getPoints()}} {{ 'GAME.POINTS' | translate }}</div>
        </div>

        <div class="box level complete">
          <div class="share">{{ 'GAME.SHARE' | translate }}</div>
          <share-buttons [theme]="'modern-dark'"
                         [include]="['whatsapp', 'sms']"
                         [show]="5"
                         [url]="'https://doomscroll.xyz'"
                         [description]="'GAME.SHARE_DESCRIPTION' | translate:shareContent(level.num, getPoints())"
                         [tags]="'doomscroll'">
          </share-buttons>
        </div>

        <div class="box level start" (click)="restartGameClick()">
          <div>
            <div><img src="../assets/menu/restart.png" alt="Restart"></div>
            <div>{{ 'GAME.RESTART' | translate }}</div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="3">
        <div [ngClass]="isLevelComplete(level.num) ? '' : 'inactive'" class="box level timer"
             (click)="levelEndClick(level.num)">
          ◷ {{timer | async | date: 'ss.SS'}}
        </div>
      </ng-container>

    </ng-container>
  </div>

</div>
